In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

c:\users\lenovo\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
path=r"C:\Users\Lenovo\NARESHIT PYTHON\file handling files\Salary_data.csv"
df=pd.read_csv(path)
df

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [3]:
df.dropna(inplace=True)
df.reset_index(drop=True,inplace=True)
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [4]:
df.shape

(30, 2)

In [5]:
# make sure that
# after reading the data
# EDA
# before we apply ML model data should be numerical format

In [6]:
# we divide the data into 2 parts i.e input data and output data
# input data=X output data=y
# Again we divide input data into 2 parts i.e train and test
# input train data=x_train; input test data=x_test
# similarly we divide output data into 2 parts i.e train and test
# output train data=y_train; output test data=y_test
# model development happens on train data i.e x_train and y_train
# model will predict by passing x_test data these are called y_predictions
# y_predictions will compare y_test,this is called test accuracy/test error

In [7]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [8]:
#step 3 

#divide data into input and output data

In [9]:
X=df.drop('Salary',axis=1)
y=df["Salary"]

In [10]:
# data frames having only input columns
print(X)

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [11]:
print(y)

0      39343
1      46205
2      37731
3      43525
4      39891
5      56642
6      60150
7      54445
8      64445
9      57189
10     63218
11     55794
12     56957
13     57081
14     61111
15     67938
16     66029
17     83088
18     81363
19     93940
20     91738
21     98273
22    101302
23    113812
24    109431
25    105582
26    116969
27    112635
28    122391
29    121872
Name: Salary, dtype: int64

# step4

In [12]:
#divide the data into train and test
# will use train test split from sklearn model selection
# it will take following parameters
# X:input data
# y:output data
#test_size=0.3,30% test data 70% train data
# by default 75:25
#random state
        # we want select observations randomly
        # many possible combinations
        #Every possible combination represent as a number

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1234,test_size=0.3)

In [14]:
X_train

    YearsExperience
13              4.1
22              7.9
24              8.7
0               1.1
2               1.5
27              9.6
26              9.5
18              5.9
5               2.9
16              5.1
25              9.0
11              4.0
9               3.7
17              5.3
29             10.5
20              6.8
12              4.0
21              7.1
6               3.0
19              6.0
15              4.9

In [15]:
y_train

13     57081
22    101302
24    109431
0      39343
2      37731
27    112635
26    116969
18     81363
5      56642
16     66029
25    105582
11     55794
9      57189
17     83088
29    121872
20     91738
12     56957
21     98273
6      60150
19     93940
15     67938
Name: Salary, dtype: int64

In [16]:
X_test

    YearsExperience
7               3.2
10              3.9
4               2.2
1               1.3
28             10.3
8               3.2
3               2.0
23              8.2
14              4.5

In [17]:
y_test

7      54445
10     63218
4      39891
1      46205
28    122391
8      64445
3      43525
23    113812
14     61111
Name: Salary, dtype: int64

# checkpoint1

In [18]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(21, 1)
(9, 1)
(21,)
(9,)

# checkpoint2

In [19]:
# check

# model development

In [20]:
# import the package
# save the package
# fit with x_train and y_train

#sklearn.preprocessing
#sklearn.model_selection
#sklearn.linear_model

from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(X_train,y_train)

LinearRegression()

In [21]:
y_predictions=LR.predict(X_test)
y_predictions

array([ 55630.13259001,  62221.33017291,  46214.136043  ,  37739.7391507 ,
       122483.70807372,  55630.13259001,  44330.9367336 , 102710.11532501,
        67870.92810111])

In [22]:
df1=pd.DataFrame()
df1=X_test
df1['y']=y
df1['y_pred']=y_predictions
df1

    YearsExperience       y         y_pred
7               3.2   54445   55630.132590
10              3.9   63218   62221.330173
4               2.2   39891   46214.136043
1               1.3   46205   37739.739151
28             10.3  122391  122483.708074
8               3.2   64445   55630.132590
3               2.0   43525   44330.936734
23              8.2  113812  102710.115325
14              4.5   61111   67870.928101

In [23]:
ip1=[1]
LR.predict([ip1])

array([34914.9401866])

In [24]:
from sklearn.metrics import r2_score,mean_squared_error

In [25]:
R2=r2_score(y_test,y_predictions)
MSE=mean_squared_error(y_test,y_predictions)
R2,MSE

(0.949721948148016, 40149896.466138825)

In [26]:
s=0
for i in range(len(y_test)):
    v1=y_test.values[i]-y_predictions[i]
    v2=v1**2
    s=s+v2
print(s/len(y_test))

40149896.466138825

# SAVE THE MODEL

In [27]:
import pickle
pickle.dump(LR,open('salary_data.pkl','wb'))

# LOAD THE MODEL

In [28]:
model=pickle.load(open('salary_data.pkl',"rb"))
model

LinearRegression()

In [30]:
(X_test)

    YearsExperience       y         y_pred
7               3.2   54445   55630.132590
10              3.9   63218   62221.330173
4               2.2   39891   46214.136043
1               1.3   46205   37739.739151
28             10.3  122391  122483.708074
8               3.2   64445   55630.132590
3               2.0   43525   44330.936734
23              8.2  113812  102710.115325
14              4.5   61111   67870.928101

In [32]:
model.predict(X_test)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 1 is different from 3)